<div style="height:45px; align-items: center;display: flex; padding-left: 5px">
  <h1 style="margin: initial">{{title}}  {{airport}}</h1>
</div>

<div style="height:45px; align-items: center;display: flex; padding-left: 5px">
  
  <div *ngIf="showDateRange">Date
    <select  name="modeType" id="modeType" style="height:25px;width:125px; font-size: 12px;" [(ngModel)]='selectMode' (change)='modeSelectChange()' >
      <option value="Today" selected="selected">Today</option>
      <option value="SelectDay">Select Day</option>
    </select>
  </div>

  <div  *ngIf='selectMode == "SelectDay"' style="margin-left:20px;height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px">

    <label>Date:</label>
    <input class="gridinput" [(ngModel)]="rangeDate"  style="height:25px;width:125px; font-size: 12px;" type="date">
    <label>From:</label>
    <input [ngxTimepicker]="picker" [format]="24" class="gridinput" [(ngModel)]='rangeFrom'  style="height:25px;width:90px; font-size: 12px;">
    <ngx-material-timepicker #picker [ngxMaterialTimepickerTheme]="darkTheme"></ngx-material-timepicker>
    <label>To:</label>
    <input [ngxTimepicker]="picker2" [format]="24" class="gridinput" [(ngModel)]='rangeTo'  style="height:25px;width:90px; font-size: 12px;">
    <ngx-material-timepicker #picker2 [ngxMaterialTimepickerTheme]="darkTheme"></ngx-material-timepicker>

   </div>

  <div  *ngIf='selectMode == "Today"' style="margin-left:20px;height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px">

    <label>From:</label>
    <select name="from" [(ngModel)]='offsetFrom' style="height:25px;width:100px; font-size: 12px;">
      <option value="-240">-4 hours</option>
      <option value="-180">-3 hours</option>
      <option value="-120" selected="selected">-2 hours</option>
      <option value="-60">-1 hour</option>
      <option value="0">0 hour</option>
      <option value="60">+1 hour</option>
      <option value="120">+2 hour</option>
      <option value="180">+3 hour</option>
      <option value="240">+4 hour</option>
      <option value="300">+5 hour</option>
      <option value="360">+6 hour</option>

    </select>
    <label>To:</label>
    <select name="to" [(ngModel)]='offsetTo' style="height:25px;width:100px; font-size: 12px;">
      <option value="-180">-3 hours</option>
      <option value="-120">-2 hours</option>
      <option value="-60">-1 hour</option>
      <option value="0">0 hour</option>
      <option value="60">+1 hour</option>
      <option value="120">+2 hour</option>
      <option value="180">+3 hour</option>
      <option value="240" >+4 hour</option>
      <option value="300">+5 hour</option>
      <option value="360">+6 hour</option>
      <option value="420">+7 hour</option>
      <option value="480">+8 hour</option>
      <option value="540">+9 hour</option>
      <option value="600">+10 hour</option>
      <option value="660">+11 hour</option>
      <option value="720" selected="selected">+12 hour</option>
      <option value="780">+13 hour</option>
      <option value="840">+14 hour</option>
    </select>

    </div>

    <button (click)="setRange()" style="margin-left:15px;height:25px;width:60px; font-size: 12px;">Load</button>

 
    
    <button mat-icon-button [matMenuTriggerFor]="menu"  style="margin-left:auto; margin-right: 20px; background-color: #181D1F;">
      <mat-icon style="color:whitesmoke; background-color: #181D1F;">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item id="addBtn" (click)="openAddDialog()" style='font-size: 14px; width:200px; margin-right:10px;margin-left:10px;border:unset;height:30px;line-height: 24px;'>Add Allocation</button>
      <hr style="margin-top: 5px; margin-bottom: 5px;"/>
      <button mat-menu-item id="fileBtn" (click)="openFileDialog()" style='font-size: 14px; width:200px; margin-right:10px;margin-left:10px;border:unset;height:30px;line-height: 24px;'>Upload Schedule</button>
      <hr style="margin-top: 5px; margin-bottom: 5px;"/>
      <button mat-menu-item id="rtsBtn" (click)="openRTSDialog()" style='font-size: 14px; width:200px; margin-right:10px;margin-left:10px;border:unset;height:30px;line-height: 24px;'>Download RTS Data</button>
      <hr  style="margin-top: 5px; margin-bottom: 5px;"/>
      <button mat-menu-item id="logoutBtn" (click)="logout()" style='font-size: 14px; width:100px; margin-right:10px;margin-left:10px;border:unset;height:30px;line-height: 24px;'>Logout</button>
    </mat-menu>

</div>

<div style="width:100%">
<ag-grid-angular #agGrid style="width: 100%; height: calc(100vh - 140px);" id="myGrid" class="ag-theme-balham-dark" [rowHeight]="30"
  [rowData]="rowData" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [getContextMenuItems]= "getContextMenuItems"
  [frameworkComponents]="frameworkComponents" [animateRows]="true" [enableSorting]="true" [getRowNodeId]="getRowNodeId"
  [groupUseEntireRow]="true" [suppressCellSelection]="true"  (gridReady)="onGridReady($event)" >
</ag-grid-angular>
</div>
 
<div style="width:100%; height: 36px;">
      <div class="alternate-button" style="margin-right:20px;height:36px;float: right;">
        <mat-slider
        [max]="22"
        [min]="5"
        [step]="1"
        [(ngModel)]="zoomLevel"
        (change) = "zoomChanged()"
  ></mat-slider>
      </div>
      <div style="margin-right:10px;margin-top:12px;height:36px;float: right;">Zoom </div>
</div>

