/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine-dark/sass/ag-theme-alpine-dark-mixin.scss";


.ag-theme-alpine-dark {
  @include ag-theme-alpine-dark();
}

.SCHEDULED{
  background-color: limegreen;
  color:black;
}
.NOTSTARTED{
  background-color: red;
  color: black;
}
.STARTED,
.STARTEDEARLY,
.STARTEDLATE
{
  background-color: yellow;
  color: black;
}
.STARTEDRUNNINGOVERTIME
{
  background-color: coral;
  color: black;
}
.COMPLETED,
.COMPLETEDEARLY,
.COMPLETEDLATE
{
  background-color: gray;
  color: black;
}
.COMPLETEDDQMISSUES
{
  background-color: lightgray;
  color: black;
  animation: blinker 1s linear infinite;
}

.BLINK {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.alternate-button {
  // Extract the color configuration from the theme and generate
  // the color theme styles for `mat-button`.
  .mat-slider-thumb{
    background-color: white;
  }
  .mat-slider-container{
    background-color: white;
  }
  .mat-slider-track-wrapper{
    background-color: white;
  }
  .mat-slider-track-background{
    background-color: white;
  }
  .mat-slider-track-fill{
    background-color: white;
  }
  .mat-slider-focus-ring{
    background-color: aliceblue;
  }
  div.mat-slider-thumb{
    color: white;
    background-color: aliceblue;
  }
  .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    border-color: aliceblue;
    background-color: white;
}
}
.mat-slider-horizontal {
  width: 300px;
}

// For time picker in modal dialog
.timepicker-overlay {
  z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
  z-index: 1100 !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
